.container {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    transition: 1s;
    width: 100%;
}

.itemContainer {
    position: relative;
    box-sizing: border-box;
    img {
        display: block;
        width: 100%;
    }
    div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(235, 236, 243, .9);
        transition: .1s;
        opacity: 0;
        display: flex;
        cursor: pointer;
        align-items: center;
        .title {
            width: 100%;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(10, 10, 14, 0.4);
        }
        .body {
            width: 100%;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(10, 10, 14, 0.4);
        }
        &:hover {
            transition: .3s;
            opacity: 1;
        }
    }
}