@import './../../../../Config/config.scss';

.container {
    color: red;
    padding-left: 50px;
    padding-right: 50px;
}
.subHeader {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.title {
    width: 100%;
    height: 75px;
    background: #4762EF;

    &_header {
        font-family: Raleway, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.1em;
        line-height: 75px;
        color: #FFFFFF;

    }
    &_headerAccent {
        color: #000
    }
}

.avatar {
    margin: 0 20px;
    position: relative;
    top: -16px;
    width: 140px;
    height: 140px;
    background: url('./../../#{$IMG_PATH}avatar.jpg') center center no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    &::after {
        content: '';
        position: absolute;
        right: -36px;
        top: 57px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 36px solid #4762ef;
    }
}
