.container {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    transition: 1s;
    width: 100%;

}

.itemContainer {
    position: relative;
    box-sizing: border-box;
    &:before {
        content: '';
        position: absolute;
        border: 40px solid transparent;
        border-bottom: 40px solid #f5f5f5;
        border-left: 40px solid #f5f5f5;
        bottom: 0px;
        opacity:.3;
    }
    &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAoCAYAAABjPNNTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHQSURBVHgB7ZhdTsJAEIBnKxDf5Ab2COCLMTzAnkC4AZ5Ab6A3QE+A3kBPsGBChBflBuIN6hsB3XGmgYT0RxbYhT70S5aWZlm+bpuZnQXIyckWAvaAUsMb4YmOQdcJ6lJVymqwetGDbOGXSngSvbiXmUxDqY+y8OYKACvLa8VC0a/Vzr5W+x1sJiOCE2pBWt+DSEYFUWtJ56mSheRB3nzvyLtGhDZ9LcPmhH8s5cUEDAS5X68/BGNJFhSep0jQh+1JvLE0QVhDTFIciVsIBcUY9W/LZBATthVk4u8kimZ40POrLAgmSy4elZS1MWRAkCmAQzYRRA0PQkA9GiOZWDDv9UfIx0b9fKdAb2MGlziJk+sEKYI0qLVNx7MuaTKDFOI61LqDwfupyZhWJc0fMW6UIKxJ2nwHo1iRdCnI7CzpWpCxMJPTpktBxkIwP35GPfXp5NGFILOz5KIeuQOHZK3GSSSXtEUuaYtc0hYJkjjhT6UGFXCGCFdBs5n4Nukdk6Rl/Es4jFfscnkLFuE8338d8cYVS46jG1NpJGQcvCfFS87HtDD9pHIC7DEDDIsTCCjPt0x/FZtJzr+8UKD2BP/sz2xJQCVzD/WPdJXnc3L2wR/KOSmM9AsoCwAAAABJRU5ErkJggg==');
        background-size: 100%;
        background-position: left center;
        background-repeat: no-repeat;
        left: 8px;
        bottom: 8px;
        pointer-events: none;
        opacity: .8;
    }
    img {
        display: block;
        width: 100%;
    }
    div {
        box-sizing: border-box;
        padding: 10px;
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(235, 236, 243, 1);
        transition: .1s;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .title {
            margin-top: 10px;
            width: 100%;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 40px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(10, 10, 14, 0.4);
        }
        .technology {
            width: 100%;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            text-align: center;
            color: rgba(10, 10, 14, 0.4);
        }
        .year {
            width: 100%;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: rgba(10, 10, 14, 0.4);
        }
        .describe {
            width: 100%;
            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            // text-transform: uppercase;
            color: rgba(10, 10, 14, 0.4);
        }
        .gitHubLink {
            display: block;
            text-align: right;
            margin-left: auto;
            width: auto;
            font-size: 12px;
            color: #4762ef;
            &:hover {
                color: rgb(170, 15, 15);
            }
        }
        &:hover {
            transition: .3s;
            opacity: 1;
        }
    }
}
