{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["plugin:react/recommended", "standard"],
  "rules": {
    "max-len": ["error", { "code": 80 }, { "ignoreStrings": true }, {"ignoreComments": true}],
    "semi": ["error", "always"],
    "no-console": "error",
    "indent": ["error", 2]
  }
}
