.container {
    transition: 1s;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px
}

.item {
margin-bottom: 40px;
}

.title {
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.07em;
    text-transform: capitalize;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #4762EF;
    white-space: pre-wrap;
    &:hover {
        color: rgb(170, 15, 15);
    }
}

.describe {
    font-family: Merriweather, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #6B6F8B;
}



    .gitHubLink {
        margin-top: 20px;
        display: inline-block;
        text-align: right;
        width: 100%;
        font-size: 12px;
        color: #4762ef;
        &:hover {
            color: rgb(170, 15, 15);
        }
    }
