@import './../../Config/config.scss';

.container {
  // padding: 0 17.1875%;
  // max-width: 1260px;
  overflow: auto;
  height: 100vh;
  width: 100%;
overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    background: url('#{$IMG_PATH}main_bg.svg') no-repeat;
    background-position: center top;
    box-sizing: border-box;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  .main { 

    flex: 3 1 420px;
    max-width: 420px;
    // width: 26.042%;
    // padding-left: auto;
    padding-top: 80px;
    height: 100%;
    // padding-top: 80px;
    // margin-bottom: 500px;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .content {
    height: 100%;
    flex: 6 1 840px;
    background: #EBECF3;
max-width: 840px;
height: 100%;
    padding-top: 80px;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
