@import './../../../Config/config.scss';

.container {
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  background: url('./../../Assets/img/main/main_bg.svg') center top repeat-y;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.main {
  flex: 3 1 420px;
  max-width: 420px;
  height: 100%;
  box-sizing: border-box;
  padding: 60px 30px 0px 30px;

  &>div {
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    &>*{
      box-sizing: border-box
    }
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.content {
  height: 100%;
  flex: 6 1 840px;
  box-sizing: border-box;
  max-width: 840px;
  padding: 0 30px;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}