@import './../../Config/config.scss';

.container {
  padding: 0 18.75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    background: url('#{$IMG_PATH}main_bg.svg') no-repeat;
    background-position: calc(18.75% - 100px) top;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  .main {
    flex: 3 1;
    // width: 26.042%;
    padding-left: auto;
    padding-top: 80px;

    height: 900px;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .content {
    flex: 7 1;
    background: #EBECF3;

    padding-top: 80px;
    height: 900px ;
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
