@import './../../Config/config.scss';

.container {
    color: darkorange;
    margin-bottom: 36px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;

    .name {
        width: 100%;
        background: #000;
        padding: 28px 32px 4px;
        box-sizing: border-box;

        p {
            font-family: Raleway;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 23px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    .contacts {
        width: 100%;
        background: #000;
        padding: 4px 32px 28px;
        box-sizing: border-box;

        p {
            font-family: Raleway;
            font-style: italic;
            text-transform: lowercase;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #FFFFFF;
            font-feature-settings: 'pnum'on, 'lnum'on;
        }

        .links {
            margin-top: 16px;
            margin-bottom: 8px;
            display: flex;

            a {
                margin-right: 16px;
                width: 30px;
                height: 30px;
                opacity: .4;
            }

            a:nth-child(1) {
                background: url('#{$IMG_PATH}github.svg') center center no-repeat;
            }

            a:nth-child(2) {
                background: url('#{$IMG_PATH}codepen.svg') center center no-repeat;
            }

            a:hover {
                opacity: 1;
                transition: .3s;
            }
        }
    }

}